*{
	margin:0;
	padding:0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  overflow: hidden;
}

@font-face {    
	font-family: 'Muli';    
	src: url('../font/Muli-Regular.ttf') format('truetype');    
	font-weight: normal;    
	font-style: normal;
}
@font-face {    
	font-family: 'Poppins';    
	src: url('../font/Poppins-Regular.ttf') format('truetype');    
	font-weight: normal;    
	font-style: normal;
}
@font-face {    
	font-family: 'Muli-Bold';    
	src: url('../font/Muli-Bold.ttf') format('truetype');    
	font-weight: normal;    
	font-style: normal;
}
@font-face {    
	font-family: 'Poppins-Bold';    
	src: url('../font/Poppins-Bold.ttf') format('truetype');    
	font-weight: normal;    
	font-style: normal;
}
.header{
	width:100%;
	height: 15%;
	background-color: rgb(177,34,176, 0.6);
}
.header h1{
	color:white;
	float:right;
	margin-top: 15px;
	margin-right: 20px;
	padding:10px;
	border: 5px solid rgb(117,34,176);
	position: relative;
}
.header .tooltip a{
	float:right;
	width:50px;
	height:50px;
	border: 3px solid black;
	border-radius: 50px;
	margin-top:20px;
	margin-right: 20px;
	text-align: center;
	color: rgb(0,190,255);
	padding: 4px;
}
.header .tooltip a:hover{
	color:white;
	border: 3px solid white;
}
.header i{
	margin-top:10px;
	font-size:30px;
}
.tooltip {
  position: relative;
  display: inline-block;
  float:right;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 110px;
  background-color: rgb(0,190,205);
  color: black;
  font-size: 18px;
  font-family: comic sans ms;
  font-weight: bold;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 120%;
  left: 35%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgb(0,190,205) transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.sidebar{
	width:17%;
	height:85%;
	background-color: rgb(40,40,40);
	padding-top: 10px;
	overflow: auto;
	float:left;
	font-family: "Poppins", sans-serif;
}

#logo{
	height:85%;
	margin:0.5%;
}

.sidebar a{
	list-style-type: none;
	border-bottom: 1px dashed rgb(117,34,176);
}

.teksmenu{
	width:85%;
	float:left;
}
.icon{
	width:10%;
	float:right;
	margin-top: 15px;
	margin-left: 5px;
}
.sidebar a, .dropbtn {
	padding:10px;
	text-decoration: none;
	color:white;
	font-size:16px;
	font-weight:bold;
	display:block; 
}

.sidebar a:hover{
	padding:10px;
	background-color: rgb(117,34,176);
	display:block; 
	color:black;
}

.sidebar li:hover{
	background-color: rgb(20,20,20);
}

.dropdown a{
	margin-left: 25px;
	font-size: 14px;
	margin-top: 0px;
}

.dropdown, .subdropdown{
	display: none;
	position: relative;
	z-index: 1;
}

.subdropdown{
	margin-left: 40px;
}

.show{
	display:block;
}

.hide{
	display: none;
}

/*
.profildropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  margin-left: -100px;
  margin-top: 100px;
}

.profildropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.profildropdown a:hover {background-color: #f1f1f1}

.profildrop:hover .profildropdown {
  display: block;
}

*/
.konten{
	width:100%;
	height:100%;
	background-color: rgb(117,34,176,0.1);
	float:left;
}

.materi{
	width:44%;
	height: 98%;
	background-color: white;
	margin: 10px;
	margin-left: 27px;
	float:left;
}

.materi h3{
	font-family: Poppins; 
	text-align: center; 
	border-bottom: 4px solid #4a027e;
	margin-top:15px;
	color:#4a027e;
}

.materi p, .materi ol, .conso p, .materi2 p, .conso ol, .soal p{
	font-size: 18px;
	font-family: Muli;
	text-align: justify;
	margin:20px;
}

.materi h2, .materi2 h2, .ujikompetensi h2{
	padding:5px;
	border-left:10px solid rgb(117,34,176);
	color:rgb(117,34,176);
	width:100%;
	font-family: Poppins;
	font-weight: bold !important;
}
.btn-group a {
	box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #ba7af5 5%, #611a94 100%);
	background-color:#ba7af5;
	border-radius:6px;
	border:1px solid #7022a8;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	text-indent:0px;
	border:1px solid #611a94;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #1570cd;
	cursor: pointer;
	float: left;
	padding:10px;

}
.btn-group a:hover {
	background:linear-gradient(to bottom, #611a94 5%, #ba7af5 100%);
	background-color:#611a94;
}
.btn-group .active {
	position:relative;
	color: black;
}
.btn-group a:not(:last-child) {
  border-right: none; /* Prevent double borders */
}
.btn-group:after {
  content: "";
  clear: both;
  display: table;
}
.btn-group{
	padding: 10px;
	padding-left: 5px;
	margin-left: 35%;
}

.submateri{
	height:90%;
	overflow: auto;
}

.submateri h3, .penyelesaian{
	color:white;
	background-color: rgb(0,106,150);
	text-align: center;
	padding:5px;
	border:2px solid rgb(0,106,150);
	margin-top:30px;
	width:50%;
}

.isian li{
	margin-bottom: 20px;
}
.isian{
	margin: 20px;
}
.isian input{
	width:50px;
	padding:5px;
	margin-right: 5px;
	text-align: center;
}
.subisi td{
	font-size: 18px;
}
.conso{
	width:48%;
	height:90% !important;
	background-color: white;
	margin: 10px;
	padding:20px;
	float:left;
	overflow-y: auto;
	overflow-x: hidden;
}
.subkonten{
	width:100%;
	height:75%;
}
.halaman{
	height:25%;
	width:100%;
}
.conso h3{
	padding:5px;
	color:black;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}
.tabel table, .tabel th, .tabel td{
	border: 3px solid #7522b0;
  	border-collapse: collapse;
  	padding:4px;
  	text-align: center;
  	font-size: 14px;
}
.tabel table{
	width:300px;
}
.tabel th{
	background-color: #7522b0;
	color: white;
	font-weight: bold;
}
.tabel input{
	width:70px;
	padding:5px;
	text-align: center;
}
.cek{
	background-color: rgb(117,34,176);
	border:3px solid rgb(117,34,176);
	padding:10px;
	width:120px !important;
	-webkit-transition-duration: 0.4s;
  	transition-duration: 0.4s;
  	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  	font-weight: bold;
  	color: white;
  	cursor: pointer;
  	font-family: 'Muli', sans-serif;
  	font-size: 14px;
}
.cek:hover{
	border:3px solid rgb(117,34,176);
	background-color: white;
	color:black;
}
.hsl{
	margin-bottom:-20px;
	margin-right: -30px;
	margin-left: 5px;  
	margin-top:10px;  
	font-size:22px; 
	text-align: center; 
	font-weight: bold;
	opacity:0;
}
.hsl1{
	font-size:22px; 
	text-align: center; 
	font-weight: bold;
}
.conso h5{
	color: #7522b0;
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

#piechart{
	margin-top: -20;
}

::-webkit-scrollbar{
	width:11px;
	background: #ffffff;
}

::-webkit-scrollbar-thumb{
	background: rgb(117,34,176);
	border-radius: 3px;
	border: 2px solid rgb(117,34,176);
}

::-webkit-scrollbar-track {      
    background: lightgrey;    
}



